@charset "UTF-8";
/* CSS Document */
html,body{
	height: 100%;
	margin: 0;
	width: 100%;
}
.active{
	background:#AC6F6F;
	opacity: 0.9;
}
.bg{
	background-image: url(background_1.jpg);
	background-repeat: repeat-x;
	background-attachment:fixed;
	height: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;
}
.nav-class{
	overflow: hidden;
	position: static;
	float: right;
}
.nav-class a{
	float: left;
    color: #f2f2f2;
	position: static;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	top: 16px;
}
.nav-class a:hover, .nav-class1 a:hover, .buttons a:hover{
	background: gray;
}
.nav-class a:active,.buttons a:active{
	background:hsla(0,1%,13%,1.00);
}
.nav-class .icon{
	font-size: 25px;
	padding-top: 6px;
	top: 8px;
	display: none;
}
@media screen and (max-width:768px){
	.nav-class a {display: none;}
	.nav-class .icon{
		float: right;
		display: block;
	}
}
@media screen and (max-width:1000px){
	.nav-class.responsive{position: static;}
	.nav-class.responsive .icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav-class.responsive a:not(.icon){
		float: none;
		display: inline-block;
		text-align:center;
		max-width: 100%;
		margin-right:25px;
	}
	.nav-class.responsive a:first-child{
		margin-top: 10px;
	}
	.nav-class.responsive a #contact{
		border: none;
		right: 10px;
		top: 1px;
	}
}
#contact{
	border: 2px solid white;
	padding:4px;
	position: relative;
	bottom: 5px;
}
.title{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20%;
	width: 60%;
}

/*-------------Homepage----------------*/
#Name{
	position: relative;
	margin: 0px;
	font-size: 100px;
	text-align: center;
	color: white;
	font-family: alex-brush, cursive;
}
@media screen and (max-width:1000px){
	#Name{
		font-size: 40px;
		margin-top: 50%;
	}
}
.introduction{
	position: relative;
	text-align: center;
	margin: 1px auto;
	color: white;
	font-family: arizonia, fantasy;
	font-size: 25px;
}
@media screen and (max-width:1000px){
	.introduction{
		font-size: 20px;
	}
}
.buttons{
	margin-left: 20%;
	width: 60%;
	text-align: center;
}
.quick-link{
	position: relative;
	margin: 5% 10%;
	background: none;
	color:white;
	padding: 15px 40px;
	border: 2px solid white;
	display: inline-block;
	text-decoration: none;
}
@media screen and (max-width: 850px){
	.quick-link{
		padding: 10px 20px;
		margin: 5% 5%;
	}
}

/*---------------Travels-----------------*/
.slides-container{
	position: relative;
	height: 60%;
	width: 90%;
	margin: 80px 5%;
	text-align: center;
	overflow: hidden;
}
.fade{
	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.num{
	color:aliceblue;
	font-size: 13px;
	position: absolute;
	top: 10px;
	padding: 12px 14px;
	font-family: allura, monospace;
}
.image{
	width: 100%;
	height: 100%;
	display: none;
}
.picture{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: static;
}
.text{
	width: 20%;
	bottom: 35px;
	color:beige;
	position: relative;
	text-align: right;
	padding-right:10px;
	margin-left: 75%;
	font-family: alex-brush, fantasy;
}
.prev{
	cursor: pointer;
	position:absolute;
	text-align: left;
	top: 45%;
	width: auto;
	margin: auto;
	left: 0;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
}
.next{
	cursor: pointer;
	position:absolute;
	text-align: left;
	top: 45%;
	width: auto;
	margin: auto;
	right:0;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
  	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background: rgba(0,0,0,0.6);
}
@media screen and (max-width: 1000px) {
  .prev, .next,.text {font-size: 11px}
	.description h1{font-size: 30px;}
	.description .para1{font-size: 15px;}
	.slides-container{
		height: 50%;
	}
}
.dot-container{
	width: 100%;
	bottom: 5%;
	margin-top: -2%;
	text-align: center;
	position: absolute;
}
.botton{
	cursor: pointer;
	height: 10px;
	width: 10px;
	background-color: #bbb;
	margin: 0 2px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	top: 70%;
	margin-top: -90px;
}
.used,.botton:hover{
	background-color:#777474;
}
.description{
	width: 60%;
	margin-left: 20%;
	margin-right: 10%;
	margin-top: -2%;
}

/*---------------Profile----------------*/
.heading{
	color: white;
	font-style: italic;
	font-family: brush-script-std, cursive;
}
.para1{
	color:white;
	font-family: cookie, fantasy;
	font-size: 20px;
	word-spacing: 6px;
	line-height: 25px;
}
.content{
	position: relative;
	width: 80%;
	height: 100%;
	margin: 10% 10%;
}
#p_title{
	margin: 0px 20%;
	text-align: center;
	color: white;
	height: 40px;
}
#p_title:before{
	background: #ddd;
  	content: "";
  	display: block;
  	height: 2px;
  	position: absolute;
    top: 20px;
  	width: 13%;
}

#p_title span{
	padding: 0px 15px;
	position: relative;
	display: inline-block;
	font-family: calligraffitti, monospace;
	font-size: 35px;
	text-align: center;
}
#p_title:after{
	background: #ddd;
  	content: "";
  	display: block;
  	height: 2px;
  	position: absolute;
    top: 20px;
  	width: 13%;
	right:20%;
}
.introduce{
	margin-top: 5%;
	width: 100%;
	height: 100%;
}
#hometown, #beijing, #brown, #interest{
	margin-top: 2%;
	width: 100%;
	height: 258px;
}
.photo{
	width: 30%;
	height: 258px;
	border-radius: 20px;
	float: left;
}
.brief{
	width: 50%;
	position: relative;
	color: bisque;
	right: 0;
	height: 100%;
	float: right;
	font-family: "aguafina-script", fantasy;
}
@media screen and (max-width:1000px){
	.content #p_title span{
		font-size: 20px;
	}
	.p_title:before{
		top:35px;
	}
	.p_title:after{
		top:35px;
	}
	.photo{
		margin-top: 20px;
		height: 200px;
	}
	#hometown, #beijing, #brown, #interest{
		max-height: 400px;
		margin-bottom: 70px;
	}
	.brief{
		margin-right: 10%;
		position: absolute;
		height: 200px;;
	}
	.brief h3{ 
		font-size: 20px;
		display: inline;
		top: 0px;
		
	}
	.brief p{
		margin-top: 2px;
		font-size: 13px;
		display: block;
	}
}
#back{
	display: none;
	position: fixed;
/*	background:linear-gradient(to bottom,#85B1DA 0%, #55ADE2 100%);*/
	background: black;
	bottom: 40px;
	right: 30px;
	z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 18px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
#back:hover{
	background-color: #555;
}

/*----------------------This is the resume part-----------------------*/
.resume_bg{
	position: absolute;
	width: 100%;
	height: 300px;
	margin: 0px auto;
	padding: 0;
	color: white;
}
.top{
	width: 100%;
	position: absolute;
	background: url(resume_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
/*	background-attachment: fixed;*/
	background-size: cover;
	height: 100%;
	margin: 0px auto;
	padding: 0;
	top: 0;
}
#b_introduce{
	position: absolute;
	display: inline-block;
	color: white;
	width:100%;
	text-align: center;
	top: 33%;
/*	margin:auto 30%;*/
	font-family: "euphoria-script", cursive;
	font-size: 20px;
	padding-bottom: 50px;
}
#c_title:before{
	background: #ddd;
  	content: "";
  	display: block;
  	height: 2px;
  	position: absolute;
    top: 20px;
  	width: 18%;
	left: 10%;
}
#c_title{
	position: absolute;
	display: block;
	text-align: center;
	top: 40%;
/*	left: 10%;*/
	width: 100%;
}
#c_title span{
	font-family: calligraffitti, monospace;
	font-size: 45px;
	text-align: center;
}
#c_title:after{
	background: #ddd;
  	content: "";
  	display: block;
  	height: 2px;
  	position: absolute;
    top: 20px;
  	width: 18%;
	right:10%;
}
.information{
	top: 80%;
	position: absolute;
	width: 90%;
	height: 1500px;
	left: 2%;
}
.tech{
	width: 90%;
	height: 20%;
	position: absolute;
	display: table;
	top: 40px;
	margin: 3px 5%;
	padding: 0;
}
.experience{
	position: absolute;
	width: 90%;
	height: 50%;
	display: table;
	top: 24%;
	margin: 0px 5%;
	padding: 0;
}
.title1, #comfort, #experience{
	position: relative;
	display: table-cell;
	width: 30%;
	left: 0;
	margin: auto 0;
	padding: 0;
	height: 90%;
}
.title1 h2{
	position: absolute;
	margin-top: 20%;
	text-align: center;
	color: black;
	font-family: abel, monospace;
	font-weight: 100;
}
#comfort, #experience{
	top: 20px;
}
#comfort h3, #experience h3{
	position:absolute;
	top: 0;
	font-weight: 700;
	font-size: 16px;
	color: black;
	font-family: antic-slab, serif;
}
#comfort ul, #experience ul{
	position: relative;
	top: 30px;
}
#comfort ul li, #experience ul li{
	margin: 3% auto;
	font-family: antic-slab, serif;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.detail{
	position: relative;
	display: table-cell;
	width: 60%;
	color: black;
	margin-left: 10%;
}
#project-1, #project-2, #project-3, #work-1, #school-1, #school-2{
	position: relative;
	display: table-row;
	height: 40%;
	width: 100%;
	margin-bottom: 5%;
}
#project-1 h3, #project-2 h3, #project-3 h3, #work-1 h3, #school-1 h3, #school-2 h3{
	width: 100%;
	position: relative;
	display: block;
	float: left;
	top: 0px;
	font-weight: 700;
	font-size: 16px;
	font-family: antic-slab, serif;
}
.institute span{
	position: relative;
	display: inline; 
	font-style: italic; 
	float: left;
	top: -8px;
}
.para{
	position: relative;
	display: inline;
	margin-top: 5px;
	font-family:antic-didone,sans-serif;
	font-size: 16px;
	color: black;
	line-height: 19px;
	word-spacing: 1px;
	font-weight: 100;
}
.school{
	position: relative;
	font-family:alegreya, sans-serif;
	display: inline;
	top: -10px;
	line-height: 20px;
	font-weight: 100;
}
.bottom{
	position: absolute;
	top: 1800px;
	background-color:hsla(0,0%,46%,0.12);
	width: 100%;
	height: 250px;
	font-family: alegreya, serif;
	font-weight: 100;
}
@media only screen and (max-width: 1100px){
	#c_title span{ font-size: 30px;}
	#c_title:before{ 
		width: 10%; 
		margin-left: 10%;
	}
	#c_title:after{
		width: 10%;
		margin-right: 10%;
	}
	#b_introduce{
		font-size: 15px;
	}
	.information .tech{
		height: 15%;
		margin-bottom: 50px;
	}
	.title1{
		height: 200px;
		top: 20px;
		font-size: 13px;
	}
	.title #work{
		margin-top: 10px;
	}
	.information .tech #comfort h3, #experience h3{
		font-size: 14px;
	}
	.information .tech #comfort ul li, #experience ul li{
		font-size: 13px;
	}
	.experience{
		top: 20%;
		margin-bottom: 10px;
		height: 30%;
	}
	.detail{
		margin-left: 15px;
	}
	#project-1, #project-2, #project-3, #work-1, #school-1, #school-2{
		height: 25%;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 10px;
	}
	.experience .detail .para{
		font-size: 11px;
	}
	.school{
		font-size: 11px;
	}
	#school{
		top: 90%;
		margin-top: 10px;
	}
}

/*--------------footer----------------*/
.footer{
	position: absolute;
	top: 1995px;
	width: 100%;
	height: 300px;
	background-color: #26262a;
}
.icons{
	position: absolute;
	top: 60%;
	margin: auto 25%;
	width: 50%;
	height: 50px;
	text-align: center;
}
.icons .fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-decoration: none;
  margin: 2px 2px;
  color:white;
  height: 90%;
}
.icons .fa:hover{ opacity: 0.7;}
.fa-facebook, .fa-linkedin, .fa-google, .fa-instagram, .fa-youtube{
	font-size: 50px;
}
.nav-class1{
	overflow: hidden;
	position: static;
	float: right;
}
.nav-class1 a{
	float: left;
    color: #f2f2f2;
	position: static;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
	top: 16px;
}
@media only screen and (max-width: 1000px){
	.footer{
		height: 200px;
	}
	.footer h1{
		top: 25%;
		font-size: 25px;
	}
	.footer #footer{
		left: -30px;
		position: relative;
		float: none;
		max-width: 700px;
		padding-top: 3px;
	}
	#footer a{
		width: 15%;
		font-size: 10px !important;
		padding-top: 7px;
		padding-right: 1px;
		padding-left: 0px;
		padding-bottom: 0px;
		margin-right: 10px;
	}
	.icons .fa{
		padding: 5px;
		height: 50%;
		font-size: 15px;
		width: 10px;
	}
	.fa-facebook, .fa-linkedin, .fa-google, .fa-instagram, .fa-youtube{
		font-size: 15px;
	}
}
/*------------contact-------------*/
#thanks{
	position: relative;
	margin: 0px;
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: alex-brush, cursive;
	width: 100%;
}